<a href="https://colab.research.google.com/github/Vyshnavi153/Data-Engineering/blob/main/Data_Manipulation_and_Predictive_Analysis_with_Apache_Spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [44]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName(
    "Python Spark MBA"
    ).config(
        "spark.some.config.option", "some-value"
    ).getOrCreate()

In [45]:
spark

In [46]:
mba_file = "/content/drive/MyDrive/data/MBA.csv"

In [47]:
mba_df = spark.read.csv(mba_file, header=True, inferSchema=True)
mba_df.printSchema()

root
 |-- application_id: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- international: boolean (nullable = true)
 |-- gpa: double (nullable = true)
 |-- major: string (nullable = true)
 |-- race: string (nullable = true)
 |-- gmat: double (nullable = true)
 |-- work_exp: double (nullable = true)
 |-- work_industry: string (nullable = true)
 |-- admission: string (nullable = true)

In [48]:
mba_df.show(5)

+--------------+------+-------------+----+----------+--------+-----+--------+--------------------+---------+
|application_id|gender|international| gpa|     major|    race| gmat|work_exp|       work_industry|admission|
+--------------+------+-------------+----+----------+--------+-----+--------+--------------------+---------+
|             1|Female|        false| 3.3|  Business|   Asian|620.0|     3.0|  Financial Services|    Admit|
|             2|  Male|        false|3.28|Humanities|   Black|680.0|     5.0|Investment Manage...|     NULL|
|             3|Female|         true| 3.3|  Business|    NULL|710.0|     5.0|          Technology|    Admit|
|             4|  Male|        false|3.47|      STEM|   Black|690.0|     6.0|          Technology|     NULL|
|             5|  Male|        false|3.35|      STEM|Hispanic|590.0|     5.0|          Consulting|     NULL|
+--------------+------+-------------+----+----------+--------+-----+--------+--------------------+---------+
only showing top 5 rows

In [49]:
mba_df.describe().show()

+-------+------------------+------+-------------------+--------+-----+------------------+------------------+-------------+---------+
|summary|    application_id|gender|                gpa|   major| race|              gmat|          work_exp|work_industry|admission|
+-------+------------------+------+-------------------+--------+-----+------------------+------------------+-------------+---------+
|  count|              6194|  6194|               6194|    6194| 4352|              6194|              6194|         6194|     1000|
|   mean|            3097.5|  NULL| 3.2507135938004508|    NULL| NULL| 651.0929932192445|5.0169518889247655|         NULL|     NULL|
| stddev|1788.1981154223377|  NULL|0.15154111487341523|    NULL| NULL|49.294883485510915|1.0324322571092028|         NULL|     NULL|
|    min|                 1|Female|               2.65|Business|Asian|             570.0|               1.0|          CPG|    Admit|
|    max|              6194|  Male|               3.77|    STEM|White|             780.0|               9.0|   Technology| Waitlist|
+-------+------------------+------+-------------------+--------+-----+------------------+------------------+-------------+---------+

In [50]:
mba_df.summary().show()

+-------+------------------+------+-------------------+--------+-----+------------------+------------------+-------------+---------+
|summary|    application_id|gender|                gpa|   major| race|              gmat|          work_exp|work_industry|admission|
+-------+------------------+------+-------------------+--------+-----+------------------+------------------+-------------+---------+
|  count|              6194|  6194|               6194|    6194| 4352|              6194|              6194|         6194|     1000|
|   mean|            3097.5|  NULL| 3.2507135938004508|    NULL| NULL| 651.0929932192445|5.0169518889247655|         NULL|     NULL|
| stddev|1788.1981154223377|  NULL|0.15154111487341523|    NULL| NULL|49.294883485510915|1.0324322571092028|         NULL|     NULL|
|    min|                 1|Female|               2.65|Business|Asian|             570.0|               1.0|          CPG|    Admit|
|    25%|              1548|  NULL|               3.15|    NULL| NULL|             610.0|               4.0|         NULL|     NULL|
|    50%|              3096|  NULL|               3.25|    NULL| NULL|             650.0|               5.0|         NULL|     NULL|
|    75%|              4645|  NULL|               3.35|    NULL| NULL|             680.0|               6.0|         NULL|     NULL|
|    max|              6194|  Male|               3.77|    STEM|White|             780.0|               9.0|   Technology| Waitlist|
+-------+------------------+------+-------------------+--------+-----+------------------+------------------+-------------+---------+

In [51]:
mba_df2 = mba_df.withColumnRenamed('work_exp', 'experience_years') \
                .withColumnRenamed('gmat', 'gmat_score')
mba_df2.show(5)

+--------------+------+-------------+----+----------+--------+----------+----------------+--------------------+---------+
|application_id|gender|international| gpa|     major|    race|gmat_score|experience_years|       work_industry|admission|
+--------------+------+-------------+----+----------+--------+----------+----------------+--------------------+---------+
|             1|Female|        false| 3.3|  Business|   Asian|     620.0|             3.0|  Financial Services|    Admit|
|             2|  Male|        false|3.28|Humanities|   Black|     680.0|             5.0|Investment Manage...|     NULL|
|             3|Female|         true| 3.3|  Business|    NULL|     710.0|             5.0|          Technology|    Admit|
|             4|  Male|        false|3.47|      STEM|   Black|     690.0|             6.0|          Technology|     NULL|
|             5|  Male|        false|3.35|      STEM|Hispanic|     590.0|             5.0|          Consulting|     NULL|
+--------------+------+-------------+----+----------+--------+----------+----------------+--------------------+---------+
only showing top 5 rows

In [52]:
mba_df.show(2)

+--------------+------+-------------+----+----------+-----+-----+--------+--------------------+---------+
|application_id|gender|international| gpa|     major| race| gmat|work_exp|       work_industry|admission|
+--------------+------+-------------+----+----------+-----+-----+--------+--------------------+---------+
|             1|Female|        false| 3.3|  Business|Asian|620.0|     3.0|  Financial Services|    Admit|
|             2|  Male|        false|3.28|Humanities|Black|680.0|     5.0|Investment Manage...|     NULL|
+--------------+------+-------------+----+----------+-----+-----+--------+--------------------+---------+
only showing top 2 rows

In [53]:
mba_df2.show(2)

+--------------+------+-------------+----+----------+-----+----------+----------------+--------------------+---------+
|application_id|gender|international| gpa|     major| race|gmat_score|experience_years|       work_industry|admission|
+--------------+------+-------------+----+----------+-----+----------+----------------+--------------------+---------+
|             1|Female|        false| 3.3|  Business|Asian|     620.0|             3.0|  Financial Services|    Admit|
|             2|  Male|        false|3.28|Humanities|Black|     680.0|             5.0|Investment Manage...|     NULL|
+--------------+------+-------------+----+----------+-----+----------+----------------+--------------------+---------+
only showing top 2 rows

In [54]:
from pyspark.sql.functions import median

#define function to fill null values with column median
def fillna_median(df, include=set()):
    medians = df.agg(*(
        median(x).alias(x) for x in df.columns if x in include
    ))
    return df.fillna(medians.first().asDict())

#fill null values with median in specific columns
mba_df2 = fillna_median(mba_df2, ['gpa', 'gmat_score', 'experience_years'])

In [55]:
mba_df2.summary().show()

+-------+------------------+------+-------------------+--------+-----+------------------+------------------+-------------+---------+
|summary|    application_id|gender|                gpa|   major| race|        gmat_score|  experience_years|work_industry|admission|
+-------+------------------+------+-------------------+--------+-----+------------------+------------------+-------------+---------+
|  count|              6194|  6194|               6194|    6194| 4352|              6194|              6194|         6194|     1000|
|   mean|            3097.5|  NULL| 3.2507135938004508|    NULL| NULL| 651.0929932192445|5.0169518889247655|         NULL|     NULL|
| stddev|1788.1981154223377|  NULL|0.15154111487341523|    NULL| NULL|49.294883485510915|1.0324322571092028|         NULL|     NULL|
|    min|                 1|Female|               2.65|Business|Asian|             570.0|               1.0|          CPG|    Admit|
|    25%|              1548|  NULL|               3.15|    NULL| NULL|             610.0|               4.0|         NULL|     NULL|
|    50%|              3096|  NULL|               3.25|    NULL| NULL|             650.0|               5.0|         NULL|     NULL|
|    75%|              4645|  NULL|               3.35|    NULL| NULL|             680.0|               6.0|         NULL|     NULL|
|    max|              6194|  Male|               3.77|    STEM|White|             780.0|               9.0|   Technology| Waitlist|
+-------+------------------+------+-------------------+--------+-----+------------------+------------------+-------------+---------+

In [56]:
mba_df2 = mba_df2.fillna("Deny", ["admission"])

In [57]:
mba_df2 = mba_df2.fillna("International", ["race"])

In [58]:
mba_df2.summary().show()

+-------+------------------+------+-------------------+--------+-----+------------------+------------------+-------------+---------+
|summary|    application_id|gender|                gpa|   major| race|        gmat_score|  experience_years|work_industry|admission|
+-------+------------------+------+-------------------+--------+-----+------------------+------------------+-------------+---------+
|  count|              6194|  6194|               6194|    6194| 6194|              6194|              6194|         6194|     6194|
|   mean|            3097.5|  NULL| 3.2507135938004508|    NULL| NULL| 651.0929932192445|5.0169518889247655|         NULL|     NULL|
| stddev|1788.1981154223377|  NULL|0.15154111487341523|    NULL| NULL|49.294883485510915|1.0324322571092028|         NULL|     NULL|
|    min|                 1|Female|               2.65|Business|Asian|             570.0|               1.0|          CPG|    Admit|
|    25%|              1548|  NULL|               3.15|    NULL| NULL|             610.0|               4.0|         NULL|     NULL|
|    50%|              3096|  NULL|               3.25|    NULL| NULL|             650.0|               5.0|         NULL|     NULL|
|    75%|              4645|  NULL|               3.35|    NULL| NULL|             680.0|               6.0|         NULL|     NULL|
|    max|              6194|  Male|               3.77|    STEM|White|             780.0|               9.0|   Technology| Waitlist|
+-------+------------------+------+-------------------+--------+-----+------------------+------------------+-------------+---------+

In [59]:
from pyspark.sql.functions import when, col
df_admission_numeric = mba_df2.withColumn("admission_numeric", when(col('admission') == 'Admit', 1)
                                                              .when(col('admission') == 'Waitlist', 0)
                                                              .when(col('admission') == 'Deny', -1))
df_admission_numeric.show()

+--------------+------+-------------+----+----------+-------------+----------+----------------+--------------------+---------+-----------------+
|application_id|gender|international| gpa|     major|         race|gmat_score|experience_years|       work_industry|admission|admission_numeric|
+--------------+------+-------------+----+----------+-------------+----------+----------------+--------------------+---------+-----------------+
|             1|Female|        false| 3.3|  Business|        Asian|     620.0|             3.0|  Financial Services|    Admit|                1|
|             2|  Male|        false|3.28|Humanities|        Black|     680.0|             5.0|Investment Manage...|     Deny|               -1|
|             3|Female|         true| 3.3|  Business|International|     710.0|             5.0|          Technology|    Admit|                1|
|             4|  Male|        false|3.47|      STEM|        Black|     690.0|             6.0|          Technology|     Deny|               -1|
|             5|  Male|        false|3.35|      STEM|     Hispanic|     590.0|             5.0|          Consulting|     Deny|               -1|
|             6|  Male|        false|3.18|  Business|        White|     610.0|             6.0|          Consulting|     Deny|               -1|
|             7|Female|        false|2.93|      STEM|        Other|     590.0|             3.0|          Technology|    Admit|                1|
|             8|  Male|         true|3.02|  Business|International|     630.0|             6.0|  Financial Services|     Deny|               -1|
|             9|  Male|        false|3.24|  Business|        White|     590.0|             2.0|       Nonprofit/Gov|     Deny|               -1|
|            10|  Male|        false|3.27|Humanities|        Asian|     690.0|             3.0|          Consulting|     Deny|               -1|
|            11|  Male|        false|3.05|Humanities|        White|     580.0|             5.0|          Technology|     Deny|               -1|
|            12|  Male|         true|2.85|Humanities|International|     580.0|             4.0|               PE/VC|     Deny|               -1|
|            13|Female|        false|3.24|Humanities|     Hispanic|     640.0|             6.0|               PE/VC| Waitlist|                0|
|            14|Female|        false|3.39|  Business|        Black|     690.0|             4.0|       Nonprofit/Gov|     Deny|               -1|
|            15|Female|        false|3.03|      STEM|        White|     600.0|             5.0|          Technology|    Admit|                1|
|            16|Female|         true|3.05|Humanities|International|     710.0|             4.0|          Consulting|    Admit|                1|
|            17|Female|        false|3.32|  Business|        Asian|     710.0|             5.0|               PE/VC|    Admit|                1|
|            18|  Male|        false|3.23|Humanities|        Black|     700.0|             4.0|         Health Care|     Deny|               -1|
|            19|  Male|        false|3.13|Humanities|        White|     630.0|             6.0|  Financial Services|     Deny|               -1|
|            20|  Male|         true|3.09|  Business|International|     670.0|             8.0|          Consulting|     Deny|               -1|
+--------------+------+-------------+----+----------+-------------+----------+----------------+--------------------+---------+-----------------+
only showing top 20 rows

In [60]:
final_df = df_admission_numeric.withColumn("experience_level", when((col('experience_years') >= 0) & (col('experience_years') <= 2), 'Entry-level')
                                                      .when((col('experience_years') >= 3) & (col('experience_years') <= 6), 'Mid-level')
                                                      .when(col('experience_years') > 6, 'Senior'))
final_df.show()

+--------------+------+-------------+----+----------+-------------+----------+----------------+--------------------+---------+-----------------+----------------+
|application_id|gender|international| gpa|     major|         race|gmat_score|experience_years|       work_industry|admission|admission_numeric|experience_level|
+--------------+------+-------------+----+----------+-------------+----------+----------------+--------------------+---------+-----------------+----------------+
|             1|Female|        false| 3.3|  Business|        Asian|     620.0|             3.0|  Financial Services|    Admit|                1|       Mid-level|
|             2|  Male|        false|3.28|Humanities|        Black|     680.0|             5.0|Investment Manage...|     Deny|               -1|       Mid-level|
|             3|Female|         true| 3.3|  Business|International|     710.0|             5.0|          Technology|    Admit|                1|       Mid-level|
|             4|  Male|        false|3.47|      STEM|        Black|     690.0|             6.0|          Technology|     Deny|               -1|       Mid-level|
|             5|  Male|        false|3.35|      STEM|     Hispanic|     590.0|             5.0|          Consulting|     Deny|               -1|       Mid-level|
|             6|  Male|        false|3.18|  Business|        White|     610.0|             6.0|          Consulting|     Deny|               -1|       Mid-level|
|             7|Female|        false|2.93|      STEM|        Other|     590.0|             3.0|          Technology|    Admit|                1|       Mid-level|
|             8|  Male|         true|3.02|  Business|International|     630.0|             6.0|  Financial Services|     Deny|               -1|       Mid-level|
|             9|  Male|        false|3.24|  Business|        White|     590.0|             2.0|       Nonprofit/Gov|     Deny|               -1|     Entry-level|
|            10|  Male|        false|3.27|Humanities|        Asian|     690.0|             3.0|          Consulting|     Deny|               -1|       Mid-level|
|            11|  Male|        false|3.05|Humanities|        White|     580.0|             5.0|          Technology|     Deny|               -1|       Mid-level|
|            12|  Male|         true|2.85|Humanities|International|     580.0|             4.0|               PE/VC|     Deny|               -1|       Mid-level|
|            13|Female|        false|3.24|Humanities|     Hispanic|     640.0|             6.0|               PE/VC| Waitlist|                0|       Mid-level|
|            14|Female|        false|3.39|  Business|        Black|     690.0|             4.0|       Nonprofit/Gov|     Deny|               -1|       Mid-level|
|            15|Female|        false|3.03|      STEM|        White|     600.0|             5.0|          Technology|    Admit|                1|       Mid-level|
|            16|Female|         true|3.05|Humanities|International|     710.0|             4.0|          Consulting|    Admit|                1|       Mid-level|
|            17|Female|        false|3.32|  Business|        Asian|     710.0|             5.0|               PE/VC|    Admit|                1|       Mid-level|
|            18|  Male|        false|3.23|Humanities|        Black|     700.0|             4.0|         Health Care|     Deny|               -1|       Mid-level|
|            19|  Male|        false|3.13|Humanities|        White|     630.0|             6.0|  Financial Services|     Deny|               -1|       Mid-level|
|            20|  Male|         true|3.09|  Business|International|     670.0|             8.0|          Consulting|     Deny|               -1|          Senior|
+--------------+------+-------------+----+----------+-------------+----------+----------------+--------------------+---------+-----------------+----------------+
only showing top 20 rows

### Exploratory Data Analysis

In [61]:
from pyspark.sql.functions import col, sum, avg, min, max, count, countDistinct

In [62]:
# Calculate average score gmat score and gpa for each major
avg_scores_by_major = final_df.groupBy('major').agg(
    avg('gmat_score').alias('avg_gmat_score'),
    avg('gpa').alias('avg_gpa'))
avg_scores_by_major.show()

+----------+-----------------+------------------+
|     major|   avg_gmat_score|           avg_gpa|
+----------+-----------------+------------------+
|Humanities|651.8299072954454| 3.250999596936719|
|      STEM|          650.832|3.2492266666666683|
|  Business|650.3645266594124|3.2518443960826935|
+----------+-----------------+------------------+

In [63]:
total_applicants = final_df.count()
print('Total applicants', total_applicants)

Total applicants 6194

In [109]:
# Percentage of applicants admitted by work_industry
admission_percentage_by_industry = final_df.groupBy('Work_industry').agg(
    (count(when(col('admission') == 'Admit', 1))/count("*") * 100).alias('admit_percent_by_industry')
)
admission_percentage_by_industry.show()

+--------------------+-------------------------+
|       Work_industry|admit_percent_by_industry|
+--------------------+-------------------------+
|  Investment Banking|        14.13793103448276|
|         Health Care|       11.976047904191617|
|  Financial Services|        19.06873614190687|
|              Energy|                    9.375|
|               PE/VC|        13.45093715545755|
|         Real Estate|       16.216216216216218|
|                 CPG|       17.543859649122805|
|               Other|       13.539192399049881|
|Investment Manage...|       21.686746987951807|
|       Nonprofit/Gov|       13.671274961597543|
|          Consulting|       13.835701050030883|
|          Technology|        15.64245810055866|
| Media/Entertainment|       11.864406779661017|
|              Retail|       12.121212121212121|
+--------------------+-------------------------+

In [100]:
# Distribution of experience_level among applicants by gender
experience_by_gender = final_df.groupBy('gender', 'experience_level').count()
experience_by_gender.orderBy("gender", "experience_level").show()

+------+----------------+-----+
|gender|experience_level|count|
+------+----------------+-----+
|Female|     Entry-level|   11|
|Female|       Mid-level| 2091|
|Female|          Senior|  149|
|  Male|     Entry-level|   23|
|  Male|       Mid-level| 3662|
|  Male|          Senior|  258|
+------+----------------+-----+

In [66]:
# Avg gpa and gmat scores by race and international status
avg_scores_by_status = final_df.groupBy('race', 'international').agg(
    avg('gmat_score').alias('avg_gmat_score_by_status'),
    avg('gpa').alias('avg_gpa_by_status')
)
avg_scores_by_status.show()

+-------------+-------------+------------------------+------------------+
|         race|international|avg_gmat_score_by_status| avg_gpa_by_status|
+-------------+-------------+------------------------+------------------+
|        Other|        false|       652.7426160337553| 3.261603375527424|
|        Asian|        false|       652.6939843068875| 3.254873583260682|
|        Black|        false|       652.2707423580786|3.2540065502183393|
|        White|        false|       650.1442307692307|  3.24991071428571|
|International|         true|        649.972855591748|3.2440662323561296|
|     Hispanic|        false|       651.3255033557047|3.2558221476510085|
+-------------+-------------+------------------------+------------------+

### Aggregation and Insights

In [103]:
# Admission rate for international vs domestic applicants
from pyspark.sql import Row
total_admitted_applicants = final_df.filter(col('admission') == 'Admit').count()
international_admissions = final_df.filter((col('international') == 'TRUE') & (col('admission') == 'Admit')).count()
domestic_admissions = final_df.filter((col('international') == 'FALSE') & (col('admission') == 'Admit')).count()
admission_rates = {
    'international': international_admissions / total_admitted_applicants * 100,
    'domestic': domestic_admissions / total_admitted_applicants * 100
}
print(admission_rates)
admission_rates_data = [
    Row(category="international", admission_rate=admission_rates['international']),
    Row(category="domestic", admission_rate=admission_rates['domestic'])
]
admission_rates_df = spark.createDataFrame(admission_rates_data)
admission_rates_df.show()

{'international': 30.88888888888889, 'domestic': 69.11111111111111}
+-------------+-----------------+
|     category|   admission_rate|
+-------------+-----------------+
|international|30.88888888888889|
|     domestic|69.11111111111111|
+-------------+-----------------+

In [99]:
# Top 3 undergraduate majors with highest admission rates
admission_rates_by_major = final_df.groupBy('major', 'admission').count()
top_3_majors = admission_rates_by_major.filter(col('admission') == 'Admit')
top_3_majors.select(col('major')).orderBy(col('count').desc()).show(3)

+----------+
|     major|
+----------+
|Humanities|
|  Business|
|      STEM|
+----------+

In [69]:
# Avg work experience and gpa for admitted vs. denied applicants
avg_work_and_gpa_by_admission = final_df.groupBy('admission').agg(
    avg('experience_years').alias('avg_work_experience_by_admission'),
    avg('gpa').alias('avg_gpa_by_admission')
)
avg_work_and_gpa_by_admission.filter(col('admission').isin("Admit", "Deny")).show()

+---------+--------------------------------+--------------------+
|admission|avg_work_experience_by_admission|avg_gpa_by_admission|
+---------+--------------------------------+--------------------+
|    Admit|               5.046666666666667|  3.3548666666666693|
|     Deny|               5.013862148633038|   3.231457450904887|
+---------+--------------------------------+--------------------+

In [70]:
# Overall avg gpa and gmat score by admission status
avg_gpa_and_gmat_by_admission = final_df.groupBy('admission').agg(
    avg('gpa').alias('avg_gpa_by_admission'),
    avg('gmat_score').alias('avg_gmat_score_by_admission')
)
avg_gpa_and_gmat_by_admission.show()

+---------+--------------------+---------------------------+
|admission|avg_gpa_by_admission|avg_gmat_score_by_admission|
+---------+--------------------+---------------------------+
|    Admit|  3.3548666666666693|          692.7333333333333|
| Waitlist|  3.3135000000000012|                      673.6|
|     Deny|   3.231457450904887|          643.4443588756258|
+---------+--------------------+---------------------------+

### Prediction Dataset Preparation

In [71]:
#  final dataset with the following features to predict admission_numeric, gpa , gmat_score , experience_years , major , gender , and work_industry
mba_final = final_df.select('admission_numeric', 'gpa', 'gmat_score', 'experience_years', 'major', 'gender', 'work_industry')
mba_final.show(5)

+-----------------+----+----------+----------------+----------+------+--------------------+
|admission_numeric| gpa|gmat_score|experience_years|     major|gender|       work_industry|
+-----------------+----+----------+----------------+----------+------+--------------------+
|                1| 3.3|     620.0|             3.0|  Business|Female|  Financial Services|
|               -1|3.28|     680.0|             5.0|Humanities|  Male|Investment Manage...|
|                1| 3.3|     710.0|             5.0|  Business|Female|          Technology|
|               -1|3.47|     690.0|             6.0|      STEM|  Male|          Technology|
|               -1|3.35|     590.0|             5.0|      STEM|  Male|          Consulting|
+-----------------+----+----------+----------------+----------+------+--------------------+
only showing top 5 rows

In [73]:
# saving the final dataset to a csv file
mba_final.write.csv('mba_final.csv', header=True, mode='overwrite')

In [74]:
# saving the cleaned DataFrame as a CSV file
final_df.write.csv('final_df.csv', header=True, mode='overwrite')

In [104]:
# saving each of the key aggregations (admission rates, averages, distributions) as separate CSV files
avg_scores_by_major.write.csv('avg_scores_by_major.csv', header=True, mode='overwrite')
admission_percentage_by_industry.write.csv('admission_percentage_by_industry.csv', header=True, mode='overwrite')
experience_by_gender.write.csv('experience_by_gender.csv', header=True, mode='overwrite')
avg_scores_by_status.write.csv('avg_scores_by_status.csv', header=True, mode='overwrite')
admission_rates_df.write.csv('admission_rates.csv', header=True, mode='overwrite')
top_3_majors.write.csv('top_3_majors.csv', header=True, mode='overwrite')
avg_work_and_gpa_by_admission.write.csv('avg_work_and_gpa_by_admission.csv', header=True, mode='overwrite')
avg_gpa_and_gmat_by_admission.write.csv('avg_gpa_and_gmat_by_admission.csv', header=True, mode='overwrite')